name: Release

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  release:
    if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v1
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: uv sync --extra dev
      - name: Lint
        run: uv run pre-commit run --all-files --show-diff-on-failure
      - name: Test
        run: uv run pytest --cov=conmap --cov-report=term-missing
      - name: Semantic release dry run
        run: uv run semantic-release version --noop --verbosity=DEBUG
      - name: Semantic release
        run: uv run semantic-release -v publish
